sap-ui-cachebuster-info.json
extended_runnable_file.html
.*/extended_runnable_file.html
visual_ext_index.html
/webapp/visual_ext_index.html
fioriHtmlRunner.html
.*/fioriHtmlRunner.html
mock_preview_sapui5.html
.*/mock_preview_sapui5.html
/.project.json
/.user.project.json
/webapp/localService/Botanik.xlsx
/neo-app.json
/webapp/localService/generated/*
/webapp/localService/original/*
/webapp/localService/original_exclude/fremde Pflanzen/*
/webapp/localService/original_exclude/Pflanzen_/*
/webapp/localService/original_exclude/Pflanzen/*
/webapp/localService/original_exclude/fremde Pflanzen Google Takeouts/*
/webapp/localService/original_exclude/verschiedenePflanzen/*
/webapp/localConfig.json