/* Enter your custom styles here */
.sapMTokenizer .sapMToken {

  float: left;

}

.buttonBorderless .sapMBtnInner{
	
	border-color: transparent !important;

}

.eventsListPot {
  border-radius: 10px;
  border: 2px solid #73AD21;
  padding: 5px;
}

.noBorder{
	border:none !important;
	box-shadow:none !important;
}